Second Term/AI-203 Industry Project in Artificial Intelligence/
Second Term/AI-201 Deep Learning Techniques and computer vision/Lectures/Lecture 01_3 - Artificial Neural Network (ANN).docx
Second Term/AI-202 Natural Language Processing/Lectures/02_0 Text Pre-Processing.docx
Second Term/AI-201 Deep Learning Techniques and computer vision/Lectures/Lecture 03_3 - Deep learning and CNN.docx